<div id="<%= dom_id todo %>">
  <p>
    <strong>Description:</strong>
    <%= todo.description %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= todo.category.presence || "None" %>
  </p>
</div>